nav{
    list-style: none !important;
    margin: 0 !important;
    padding: 0!important;
    overflow: hidden!important;
    background-color: #999999!important;
}

li{
    float: left !important;
    display: inline-block!important;
    text-align: center!important;
    padding: 14px 16px!important;
}

.first{
    width: 100px;
    height: 50px;
}

div>.first{
    float: left;
}

ul{
    float: left;
}

.stuff>li a:hover{
    background-color: cornflowerblue!important;
}
